package site

templ mergeFragmentSignalTest() {
	<div id="content" data-signals-foo="2">
		<button data-on-click="@get('/tests/merge_fragment_signal/data')" class="btn btn-primary">Reload</button>
	</div>
}
