package site

templ internalArgs(info *InternalErrorInfo) {
	<div>
		<pre>
			{ templ.JSONString(info) }
		</pre>
	</div>
}

templ InternalErrorView(name string, info *InternalErrorInfo) {
	@ErrorView("Internal", name, internalArgs(info)) {
		<p>Internal errors should never occur. If you are seeing this please open a <a href="https://github.com/starfederation/datastar/issues">GitHub issue</a> providing and explanation of how the error occurred and the details above.</p>
	}
}
