[project]
name = "datastar-py"
description = "Helper functions and classes for the Datastar library (https://data-star.dev/)"
version = "0.6.0"
readme = "README.md"
authors = [
    { name = "Felix Ingram", email = "f.ingram@gmail.com" },
    { name = "Lucian Knock", email = "git@lucianknock.com" },
    { name = "Chase Sterling", email = "chase.sterling@gmail.com" }
]
requires-python = ">=3.9"
dependencies = []
license = {text = "MIT"}
keywords = ["datastar", "django", "fastapi", "fasthtml", "flask", "litestar", "quart", "sanic", "starlette", "html"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]

[project.urls]
Documentation = "https://github.com/starfederation/datastar/blob/develop/sdk/python/README.md"
GitHub = "https://github.com/starfederation/datastar"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "django>=4.2.17",
    "fastapi[standard]>=0.115.4",
    "python-fasthtml>=0.12.0; python_version > '3.10'",
    "flask[async]>=3.0.3",
    "quart>=0.19.9",
    "sanic>=24.6.0",
    "starlette>=0.46.1",
    "uvicorn>=0.32.1",
    "litestar>=2.15.2",
]

[tool.ruff]
line-length = 99
exclude = [
  "src/datastar_py/consts.py",
]
[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    # Annotations
    "ANN",
    # Ruff specific
    "RUF",
]
fixable = ["ALL"]
