
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["pico.classless.pumpkin.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["StarFederation.Datastar.Example.styles.css"]"/>
    <DatastarHeadOutlet/>
    <ImportMap/>
    <HeadOutlet/>
    <title>Datastar Example</title>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>