[package]
authors = ["Johnathan Stevers <jmstevers@gmail.com>"]
categories = ["web-programming"]
description = "Datastar is a Rust implementation of the [Datastar](https://data-star.dev) SDK specification."
documentation = "..."
edition = "2021"
keywords = ["datastar", "web", "backend"]
license = "MIT OR Apache-2.0"
name = "datastar"
readme = "README.md"
repository = "https://github.com/jmstevers/datastar-rust-sdk"
version = "0.1.0"

[dev-dependencies]
axum = { version = "0.8.1" }
tokio = { version = "1.43.0", features = ["full"] }

[dependencies]
axum = { version = "0.8.1", default-features = false, optional = true, features = [
    "query",
] }
mime = { version = "0.3.17", default-features = false, optional = true }
serde = { version = "1.0.217", default-features = false, optional = true, features = [
    "derive",
] }
serde_json = { version = "1.0.137", default-features = false, optional = true, features = [
    "std",
] }

[features]
axum = ["dep:axum", "dep:mime", "dep:serde", "dep:serde_json"]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = "thin"
